

$primary-bgcolor:#02343f;
$primary-color:#f0edcc;
$hot-link:#f0edcc95;
.banner{
    background-color: $primary-bgcolor;
    color: $primary-color;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
    padding: 1.5em;

}
.menu{
    background-color: #02343f7b;
    display: flex;
    gap: 0.3em;
    padding: 0.4em;
    a{
     background-color: $primary-bgcolor;
    color: $primary-color;
    text-decoration: none;
    padding: 0.2em;
    min-width: 80px;
    text-align: center;
    border-radius: 0.3em;
    }
    .divider{
        flex: 1 1 auto;
    }

}
