/* You can add global styles to this file, and also import other style files */
$primary-bgcolor:#02343f;
$primary-color:#f0edcc;
body{
    margin:0;
    direction: rtl;
    font-family: Arial, Helvetica, sans-serif;
     background-color: #02343f7b;
}
@font-face{
    font-family: Yekanbakh;
    src: url('/fonts/Yekanbakh.woff2');
}
*{
    font-family: Yekanbakh;
}
.footer{
     font-size: 14px;
     padding: 0.3em;
     margin-top: 270px;
     text-align: center;
     background-color: $primary-bgcolor;
     color: $primary-color;
}